body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #011628;
  color: #ffffff;
  font-size: 18px;
}

nav {
  background-color: #011628;
}

#home {
  padding-top: 216px;
}

#skills, #projects, #contact {
  padding-top: 160px;
}

#contact {
  padding-bottom: 160px;
}

.skill-item {
  font-size: 1rem;
}

.card {
  background-color: #011628;
}

.card-title {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .container-media-query {
    width: 83.33%;
  }
}