body {
  font-family: 'Times New Roman', Times, serif;
  /* font-family: sans-serif; */
  background-color: #011628;
  color: #ffffff;
  font-size: 18px;
}

/* Navbar */
nav {
  background-color: #011628;
}

/* Sections padding */
#home {
  padding-top: 216px;
}

#skills, #projects, #contact {
  padding-top: 160px;
}

#contact {
  padding-bottom: 160px;
}

/* Home */
#home h1 {
  font-size: 48px;
}

#home h5 {
  font-size: 24px;
}

/* Skills */
.skill-item {
  font-size: .9rem;
  margin: 10px;
  padding: 8px;
}

/* Projects */
.card {
  background-color: #011628;
}

.card-title {
  color: #ffffff;
}

/* Media queries */
@media (min-width: 1200px) {
  .container-media-query {
    width: 83.33%;
  }
}

@media (max-width: 992px) {
  .container-media-query {
    text-align: center;
  }
  #home {
    padding-top: 140px;
  }
}

@media (max-width: 767px) {
  .card-mb-custom {
    margin-bottom: 30px;
  }
}