body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #011628;
  color: #ffffff;
}

nav {
  background-color: #011628;
}

#home {
  padding-top: 216px;
}

#skills, #projects, #contact {
  padding-top: 160px;
}

#contact {
  padding-bottom: 160px;
}

.skill-item {
  font-size: 1rem;
}

.card {
  background-color: #011628;
}

.card-title {
  color: #ffffff;
}